<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS configuration file for Node.js application using iisnode
  
  Requirements:
  1. Install iisnode: https://github.com/Azure/iisnode
  2. Install Node.js (v18 or higher)
  3. Configure environment variables in IIS Application Settings
  4. Deploy this file to your IIS site root
-->
<configuration>
  <system.webServer>
    
    <!-- iisnode configuration -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- Rewrite rules: route all requests to Node.js except static files -->
    <rewrite>
      <rules>
        <!-- Don't rewrite requests for files in node_modules, public, or other static directories -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
          </conditions>
        </rule>
        
        <!-- Don't rewrite node_modules -->
        <rule name="NodeModules" stopProcessing="true">
          <match url="^node_modules/.*" />
          <action type="None" />
        </rule>
        
        <!-- All other requests go to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security: Deny access to sensitive files -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
          <add segment=".env"/>
          <add segment=".git"/>
        </hiddenSegments>
        <denyUrlSequences>
          <add sequence=".env"/>
          <add sequence="package.json"/>
          <add sequence="server.js"/>
        </denyUrlSequences>
      </requestFiltering>
    </security>
    
    <!-- iisnode specific settings -->
    <iisnode
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;node_modules\*;routes\*.js;utils\*.js;db\*.js"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      debuggingHeaderEnabled="false"
      debuggingPort="5858"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      />
    
    <!-- Error pages -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Default document (served by Express) -->
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Static file caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    
  </system.webServer>
</configuration>

